.header {
  .header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    // height: 50px;
    cursor: pointer;
    justify-self: center;
    text-align: center;
  }

  .drawer {
    justify-self: end;
    text-align: center;
  }

  .menu {
    padding: 3px;
  }

  // .menu:nth-child(1) {
  // 	@media (max-width: 767px) {
  // 		text-align: center;
  // 		justify-content: center;
  // 		margin-bottom: 10px;
  // 	}
  // 	display: flex;
  // 	justify-content: flex-start;
  // }
  // .menu:nth-child(3) {
  // 	@media (max-width: 767px) {
  // 		text-align: center;
  // 		justify-content: center;
  // 		margin-top: 10px;
  // 	}
  // 	display: flex;
  // 	justify-content: flex-end;
  // }
}
