.header {
}
.headerParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  cursor: pointer;
  justify-self: center;
  text-align: center;
  padding: 3px;
}
.logoText {
  font-size: 40px;
  font-weight: "bold";
  font-family: var(--Monoton);
}

.drawer {
  justify-self: end;
  text-align: center;
}

.slideRoot {
  transition: all visiblity 5s;
}
