.user-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  .img {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    flex-direction: column;
    justify-content: flex-end;
    &:hover {
      background-color: #0a0202a2;
      .edit-icon {
        display: block;
      }
    }
    .edit-icon {
      margin: 5px;
      display: none;
      width: 30px;
      height: 30px;
      align-items: flex-end;
      margin-left: 16%;
    }
  }

  .user-detail {
    margin-left: 20px;
    justify-content: center;
    align-items: center;

    .user-name {
      text-transform: capitalize;
    }

    .icon {
      padding: 10px;
    }
    .count {
      font-weight: 700;
    }
  }
}
