.parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.headerParent {
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgProfile {
  border-radius: 50%;
  background-size: cover;
  width: 65px;
  height: 65px;
  margin-right: 5px;
}
.img-main {
  padding: 20px;
  max-height: 80vh;
  border-radius: 5px;
  border: 1px white;
  align-self: center;
  object-fit: cover;
  object-position: center;
}
.userText {
  text-transform: capitalize;
  font-weight: 400;
  font-family: var(--Lexend);
}

.fileText {
  max-width: 12ch;
  text-transform: camelCase;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 1;
  font-family: var(--Lexend);
}

.tagBadge {
  width: fit-content;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 5px;
  font-family: var(--Livvic);
}
.tagRow {
  display: flex;
  flex-flow: row wrap;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
